{% load static %}
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <link href="{% static '/guestbook/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static '/guestbook/bootstrap/css/bootstrap.css' %}" language="JavaScript"></script>
    <title>index</title>
</head>
<body>
<div class="row justify-content-center">
    <div class="card col-4">
        <div class="card-body">
            <div class="alert alert-success">
                <a href="{% url 'sign' %}">click to sign</a>
            </div>
            {% for c in comments %}
            <div class="alert alert-success">{{ c.name }}
                <br>
                {{c.comment}}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>